
.background img{
   position: absolute;
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;
}

.background #forbakgrunn{
    opacity: 0%;
}

.background:hover #forbakgrunn{
    opacity: 100%;
}


#hoved-logo {
	position: relative;
    left: 70%;
    background-color: azure;
    border-radius: 50px;
    border-color: skyblue;
    border-width: 20px;
    border-style: inset;
    width: 500px;
    padding: 30px;
}

#logo {
	position: relative;

}

#info-tegn {
	position: relative;
    height: 90px;
    right: 60px;
    top: 10px;
	
}

@keyframes slideInYoDms {
	0% {
		left: -400px;
	}
	100% {
		left: 0px;
	}
}

#vinker {
	position: relative, fixed;
	height: 300px;
	justify-content: flex-start;
	animation-name: slideInYoDms;
	animation-duration: 3s;
	animation-iteration-count: 1;
	animation-timing-function: ease-in-out;
	
	
}
.vinke-tekst {
	position: absolute;
    font-size: 25px;
    height: 150px;
    padding: 30px;
	font-family: arial;
    font-weight: bold;
	left: 250px;
	background-image: url(images/white_texbox.png);
    background-repeat: no-repeat;
	background-size: contain;
	
}

#waldo-found {
	position: absolute;
	height: 8.5%;
	left: 51.3%;
	top: 62.35%;
	width: 3.6%;
}

#waldo-found:hover {
	background-image: url(images/frontpage/waldo-b&w-forside.jpg);
	background-position: absolute;
	background-size: cover;
}
	



/*WHERES WALDO WAVE*/

#waldo-container{
    position: absolute;
    transform: rotate(45deg);
    left: 50px;
    top: 50px;
    
}

#waldo-no-arm{
    position: absolute;
    left: 47px;
}

#waldo-arm{
    position: absolute;
    left: 0px;
    top: 50px;
    animation: wave 2s infinite ease-out;
}

@keyframes wave{
    
    0%{
        transform: rotate(0deg)
    }
    
    50%{
        transform: rotate(70deg)
    }
    
    100%{
        transform: rotate(0deg)
    }
}

/*---------------------*/