body, html{
    font-family: sans-serif;
    
}


#body-content{
    width: 100%;
    
}

/*LOGO AREA*/
#main-logo {
    position: fixed;
    left: 65vw;
    background-color: azure;
    border-radius: 30px;
    border-color: skyblue;
    border-width: 10px;
    border-style: inset;
    width: 375px;
    padding: 20px;
    margin: 25px;
}
#logo {
	position: relative;

}

#question-mark-character {
	position: absolute;
    height: 90px;
    right: 20px;
    top: 80px;
    
    animation: bounce;
    animation-delay: 10s;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

#waldo-hint{
    opacity: 0%;
    visibility: hidden;
}

#drop-down{
    position: absolute;
    background-color: white;
    width: 400px;
    height: 100px;
    text-align: center;
    border-radius: 30px;
    padding: 40px;
    box-shadow: 10px 10px 24px 0px rgba(0,0,0,0.75);
    font-family: arial;
    font-weight: bold;
    font-size: 25px;

    
    
}

#waldo-circle{
    position: fixed;
    width: 5%;
    height: 5%;
    left: 50%;
    top: 45%;
    border: 10px inset red;
    border-radius: 50%;
    
}

#question-mark-character:hover + #waldo-hint{
    visibility: visible;
    opacity: 100%;
    transition: opacity  1s;
        
}
/*---------------------*/

/*WALDO WAVE AREA*/

.can-you-find-me {
	position: absolute;
    font-size: 25px;
    height: 150px;
    width: 150px;
    padding: 30px;
	font-family: arial;
    font-weight: bold;
	left: 250px;
    top: 250px;
	background-image: url(images/white_texbox.png);
    background-repeat: no-repeat;
	background-size: contain;
	
}

#waldo-container{
    position: absolute;
    transform: rotate(45deg);
    left: 50px;
    top: 50px;
    
}

#waldo-no-arm{
    position: absolute;
    left: 47px;
}

#waldo-arm{
    position: absolute;
    left: 0px;
    top: 50px;
    animation: wave 2s infinite ease-out;
}
/*---------------------*/


/*WHERES WALDO BACKGROUND AREA*/

#background-container{
    position: fixed;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    
}

#colored-background{
    
    position: fixed;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;

}

#bw-background{
    
    position: fixed;
    top: 46%;
    left: 50%;
    width: 5%;
    height: 9%;
    opacity: 0%;
}

#bw-background:hover{
    
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    animation: 1s fade-in forwards;
    
}



/*---------------------*/

/*KEYFRAME ANIMATIONS*/
@keyframes wave{
    
    0%{transform: rotate(0deg)}
    50%{transform: rotate(70deg)}
    100%{transform: rotate(0deg)}
}

@keyframes fade-in{
    
    0%{opacity: 0%}
    100%{opacity: 100%}
}


@keyframes vibrate{
    
    0%{transform: rotate(0deg);}
    25%{transform: rotate(-15deg);}
    50%{transform: rotate(0deg);}
    75%{transform: rotate(15deg);}
    100%{transform: rotate(0deg);}
}

@keyframes bounce{
    
    0%   { transform: scale(1,1)      translateY(0); }
    10%  { transform: scale(1.1,.9)   translateY(0); }
    30%  { transform: scale(.9,1.1)   translateY(-20px); }
    50%  { transform: scale(1.05,.95) translateY(0); }
    57%  { transform: scale(1,1)      translateY(-7px); }
    64%  { transform: scale(1,1)      translateY(0); }
    100% { transform: scale(1,1)      translateY(0); }
}
