body, HTML {
    font-family: sans-serif;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 100%;
    max-height: 100%;
	margin: 0px;
}


#background-image{
    
    position: absolute;
    background-image: url("images/background_wheres_waldo_index.jpg");
    width: 100%;
    height: 100%;
    opacity: 10%;
    background-repeat: no-repeat;
    background-size: cover;
}

/*LOGO*/
#hoved-logo{
    position: relative;
    width: 100%;  
}


#logo-stripes{
    position: relative;
    width: 100%;
    height: 100px;
    top: 120px;   
}

#logo-circle{
    position: absolute;
    right: 30px;   
}


/* INFO BOXES*/
.infoflex {
    display: flex;
    width: 80%;
    height: 350px;
    position: relative;
    margin: 20px auto;
    padding: 10px;
    top: 170px;	
}

.flex-child {
    flex: 1;
    border-radius: 30px;
    max-height: 300px;
    width: 100px auto;
    margin: 10px;
    background-color: white;
    opacity: 80%;
    box-shadow: 10px 10px 27px 0px rgba(0,0,0,0.75);
    overflow: auto;
    padding: 30px;  
}

h1 {
	font-size: 30px;
}

/*BOOK-BAR*/

.image {
    position: relative;
    width: 130px;
    height: 170px;
    transition-property: all;
    transition-duration: 0.4s;
    transition-timing-function: ease-in-out;
}

.image:hover {
    width: 200px;
    height: 220px;
}


div.scrollmenu {
    position: absolute;
    overflow-x:hidden;
    bottom: 0;
    background-color: none;
    overflow: auto;
    white-space: nowrap;
    width: 70%;
    left: 15%;
    margin-right: -50%;
    transform: translate(-50%, -50);
}


div.scrollmenu::-webkit-scrollbar {
  display: none;
}